body{
  background-color: #F3F1F5;
  line-height: 2;
  text-align: left;
  margin: 25px auto 25px 25px;
}
.suvs{

  background-color: #297F87;
  width: 300px;
  height: 550px;

}
.sedans{
  background-color: #FB9300;
  width: 300px;
  height: 550px;

}
.luxury{
  background-color: #003638;
  width: 300px;
  height: 550px;

}

h1{
  margin-left: 50px;
  margin-bottom: 10px;
  color: white;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Oswald', sans-serif;
}
p{
  margin: 0 70px 50px 50px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}
img{
  margin-left: 50px;
  margin-top: 50px;
}
.attribution{

}
.button1 {
  margin-left: 50px;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #FB9300;
  font-size: 16px;
  background: white;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.button2 {
  margin-left: 50px;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #297F87;
  font-size: 16px;
  background: white;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.button3 {
  margin-left: 50px;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #003638;
  font-size: 16px;
  background: white;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
